#####################################################################
# Aliases
#####################################################################

alias h='history'
alias v='nvim'
alias g='git'
alias p='pnpm'
alias px='pnpmx'
alias k='kubectl'
alias d='docker'
