#####################################################################
# Aliases
#####################################################################

alias h='history'
alias v='nvim'
alias g='git'
alias p='pnpm'
alias lghc='/home/jan/Dokumente/Programmierprojekte/ghc/inplace/bin/ghc-stage2'
